<!DOCTYPE html>
<html>
<head>
  <title>Payroll-{{name}} {{surName}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <style type="text/css">
    .container {
      max-width: 800px;
      padding-top: 100px;
    }
    p {font-size: medium; text-align: left; display:flex; flex-direction: column}
    h4 {text-align: center;}
    h3 {text-align:center; color: rgb(19, 17, 17);}
  </style>
</head>
<body>
  <div class="container">

    <h3> <b>Payroll DEMO</b></h3>
    <h4><b>XYZ GmbH</b></h4>

    <p style="text-align:center; font-size: small;">Volkstr. 001, 000000 Peaceland
    <br>
    Tel: 88-88888888,   Fax: 00-00000000
    <br>
    Email: abc@xxx.xx,   web: xyz.com
    </p>
    <br>
      <p><b>Name:</b> {{name}} {{surName}}</p>
      <p><b>Address:</b> {{address}}</p>
   <br>
   <br>
   <h5 style="font-size: large;"><b>Payroll</b></h5>
   <p><b>Employee No.:</b> {{employeeNumber}}</p>
   <p><b>Date:</b> {{date}}</p>
   <p><b>Department:</b> {{department}}</p>
   <p><b>Role:</b> {{role}}</p>
   <p><b>Gross Salary(Monthly):</b> {{grossSalary}}</p>
   <p><b>Tax Class:</b> {{taxClass}}</p>
   <p><b>Payment Total:</b> {{netSalary}} &euro;</p>
    <br>
    <br>
    <br>
    <h5 style="font-size: large;"><b>Please contact HR for wrong data!</b></h5>
    <br>
  </div>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
</html>